<% layout('boilerplate') %>
<div class="container">
    <button class="btn" id="addDistrict">Add District</button>
    <button class="btn" id="addTehsil">Add Tehsil</button>
    <button class="btn" id="addUC">Add UC</button>
    <form action="/dashboard/geoinfo" method="post" id="geoform">
        <div class="row" id="dataFields">
            <div class="input-fields col l3">
                <select name="province" required>
                    <option value="" selected>Select Province</option>
                    <% provinces.forEach(function(province) {%>
                        <option value="<%= province.province_ID %>">
                            <%= province.province_Name %>
                        </option>
                        <%})%>
                </select>
                <label for="province">Province</label>
            </div>
        </div>
    </form>
</div>

<script src="/js/geo.js"></script>